/* boiler play code */
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* illustrations sections */
.illustration{
    /* background-color: #FFF7DC; */
    background-color: white; /*	rgba(234, 167, 33, 1);*/
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    
    padding: 2em;
}
.illustration__title{
    text-align: center;
    margin-bottom: 1em;
}

.illustration .illustration__carousel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1.5em;
    position: relative;
    


}
.illustration .illustration__carousel::-webkit-scrollbar{
    display: none;
}

.illustration .illustration__carousel-inner{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.carousel-image{
    /* background-color: #E2EAB1; */
    background-color: rgba(246, 172, 12, 0.3);
    
    min-width: 300px;
    margin-bottom: 1em;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.carousel-image img{
    max-width: 100%;
    flex: 1;

}

.carousel-image  #food-1{
    width: 50%;
   
    object-fit: cover;
    border-radius: 50%;
}
.carousel-image:hover{
    cursor: pointer;
    transform: scale(1.02, 1.02);
}

.illustration__carousel-inner p {
    font-weight: bold;
}




.carousel-control{
    position: absolute;
    top: 50%;
    border-radius: 50%;
    /* background: rgba(0, 0, 0, 0.5); */
   background-color: rgba(0, 0, 255, 0.6);
    color: white;
    padding: 1em;
    outline: none;
    border: none;
    transform: translateY(-50%) ;
}
.carousel-control:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 1);
}

.prev {
    left: 0;
}

.next{
    right: 0;
}


@media (min-width:1000px){
    .carousel-control  {
        display: none;
    }
}